# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / build directories
.dist/
build/
dist/
*.egg-info/
wheels/
*.egg

# IDE cache/metadata (PyCharm example)
.idea/

# VS Code Code Runner temporary file
tempCodeRunnerFile.py

# Temporary files created by some tools or editors
*~
*.swp
*.swo